.thumbnail{
    padding:0;
    box-shadow: 0 10px 18px rgba(0,0,0,0.39), 0 8px 8px rgba(0,0,0,0.33);
}
.img-responsive{
    width:100% ;
}
.delete{
    display: inline;
}
#map {
    height: 400px;
    width: 100%;
}
